<div class="wrapper page-inner content-fixed">
        <div class="recive-opt">
                <button mat-icon-button class="close-btn" (click)="closeDilaog()">
                            <mat-icon class="close-icon-width">highlight_off</mat-icon>
                        </button>
            </div>
    <div class="conatiner w-100">

        <div *ngIf="sendBitcoin">
            <div class="text-center">
                <img src="../../../../assets/images/currency-icons/cryptocurrency-icon.png" alt="stellar-image" class="otp-img">
            </div>
            <form>
                <mat-form-field class="wd-100 mt-10">
                    <input type="text" matInput placeholder="Reciever Address">

                </mat-form-field>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="wd-100 mt-10">
                            <input type="text" matInput placeholder="BTC">
                            <span matSuffix class="curren-back">BTC</span>

                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="wd-100 mt-10">
                            <span matPrefix class="eur-back">Euro &nbsp;</span>
                            <input type="text" matInput placeholder="Euro">
                        </mat-form-field>
                    </div>
                </div>


                <div class="col-md-12 text-center mt-5">
                    <span></span>
                </div>
                <div class="col-md-12 text-center mt-5 mb-3">
                    <button type="button" mat-raised-button> Send</button>
                </div>
                <mat-divider></mat-divider>
                <div class="col-md-12 text-center mt-5">
                    <span></span>
                </div>
                <div class="col-md-12 text-center">
                    <span> BTC</span>
                </div>
                <div class="col-md-12 text-center">
                    <span>€ </span>
                </div>
            </form>
        </div>



        <div *ngIf="sendEthereum">
          <div class="text-center">
              <img src="../../../../../assets/images/currency-icons/Ethereum-ETH-icon.png" alt="stellar-image" class="otp-img">
          </div>
          <form>
              <mat-form-field class="wd-100 mt-10">
                  <input type="text" matInput placeholder="Reciever Address">

              </mat-form-field>
              <div class="row">
                  <div class="col-md-6">
                      <mat-form-field class="wd-100 mt-10">
                          <input type="text" matInput placeholder="ETH">
                          <span matSuffix class="curren-back">ETH</span>

                      </mat-form-field>
                  </div>
                  <div class="col-md-6">
                      <mat-form-field class="wd-100 mt-10">
                          <span matPrefix class="eur-back">Euro &nbsp;</span>
                          <input type="text" matInput placeholder="Euro">
                      </mat-form-field>
                  </div>
              </div>


              <div class="col-md-12 text-center mt-5">
                  <span></span>
              </div>
              <div class="col-md-12 text-center mt-5 mb-3">
                  <button type="button" mat-raised-button> Send</button>
              </div>
              <mat-divider></mat-divider>
              <div class="col-md-12 text-center mt-5">
                  <span></span>
              </div>
              <div class="col-md-12 text-center">
                  <span> ETH</span>
              </div>
              <div class="col-md-12 text-center">
                  <span>€ </span>
              </div>
          </form>
      </div>



      <div *ngIf="sendTether">
        <div class="text-center">
            <img src="../../../../../assets/images/currency-icons/Tether-USDT-icon.png" alt="stellar-image" class="otp-img">
        </div>
        <form>
            <mat-form-field class="wd-100 mt-10">
                <input type="text" matInput placeholder="Reciever Address">

            </mat-form-field>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="wd-100 mt-10">
                        <input type="text" matInput placeholder="USDT">
                        <span matSuffix class="curren-back">USDT</span>

                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="wd-100 mt-10">
                        <span matPrefix class="eur-back">Euro &nbsp;</span>
                        <input type="text" matInput placeholder="Euro">
                    </mat-form-field>
                </div>
            </div>


            <div class="col-md-12 text-center mt-5">
                <span></span>
            </div>
            <div class="col-md-12 text-center mt-5 mb-3">
                <button type="button" mat-raised-button> Send</button>
            </div>
            <mat-divider></mat-divider>
            <div class="col-md-12 text-center mt-5">
                <span></span>
            </div>
            <div class="col-md-12 text-center">
                <span> USDT</span>
            </div>
            <div class="col-md-12 text-center">
                <span>€ </span>
            </div>
        </form>
    </div>




    <div *ngIf="sendLitecoin">
      <div class="text-center">
          <img src="../../../../../assets/images/currency-icons/Litecoin-LTC-icon.png" alt="stellar-image" class="otp-img">
      </div>
      <form>
          <mat-form-field class="wd-100 mt-10">
              <input type="text" matInput placeholder="Reciever Address">

          </mat-form-field>
          <div class="row">
              <div class="col-md-6">
                  <mat-form-field class="wd-100 mt-10">
                      <input type="text" matInput placeholder="LTC">
                      <span matSuffix class="curren-back">LTC</span>

                  </mat-form-field>
              </div>
              <div class="col-md-6">
                  <mat-form-field class="wd-100 mt-10">
                      <span matPrefix class="eur-back">Euro &nbsp;</span>
                      <input type="text" matInput placeholder="Euro">
                  </mat-form-field>
              </div>
          </div>


          <div class="col-md-12 text-center mt-5">
              <span></span>
          </div>
          <div class="col-md-12 text-center mt-5 mb-3">
              <button type="button" mat-raised-button> Send</button>
          </div>
          <mat-divider></mat-divider>
          <div class="col-md-12 text-center mt-5">
              <span></span>
          </div>
          <div class="col-md-12 text-center">
              <span> LTC</span>
          </div>
          <div class="col-md-12 text-center">
              <span>€ </span>
          </div>
      </form>
  </div>



  <div *ngIf="sendMonero">
    <div class="text-center">
        <img src="../../../../../assets/images/currency-icons/monero-symbol-on-white-1280.png" alt="stellar-image" class="otp-img">
    </div>
    <form>
        <mat-form-field class="wd-100 mt-10">
            <input type="text" matInput placeholder="Reciever Address">

        </mat-form-field>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="wd-100 mt-10">
                    <input type="text" matInput placeholder="XMR">
                    <span matSuffix class="curren-back">XMR</span>

                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="wd-100 mt-10">
                    <span matPrefix class="eur-back">Euro &nbsp;</span>
                    <input type="text" matInput placeholder="Euro">
                </mat-form-field>
            </div>
        </div>


        <div class="col-md-12 text-center mt-5">
            <span></span>
        </div>
        <div class="col-md-12 text-center mt-5 mb-3">
            <button type="button" mat-raised-button> Send</button>
        </div>
        <mat-divider></mat-divider>
        <div class="col-md-12 text-center mt-5">
            <span></span>
        </div>
        <div class="col-md-12 text-center">
            <span> XMR</span>
        </div>
        <div class="col-md-12 text-center">
            <span>€ </span>
        </div>
    </form>
</div>



<div *ngIf="sendBitcash">
  <div class="text-center">
      <img src="../../../../../assets/images/currency-icons/Bitcoin-Cash-BCH-icon.png" alt="stellar-image" class="otp-img">
  </div>
  <form>
      <mat-form-field class="wd-100 mt-10">
          <input type="text" matInput placeholder="Reciever Address">

      </mat-form-field>
      <div class="row">
          <div class="col-md-6">
              <mat-form-field class="wd-100 mt-10">
                  <input type="text" matInput placeholder="BCH">
                  <span matSuffix class="curren-back">BCH</span>

              </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field class="wd-100 mt-10">
                  <span matPrefix class="eur-back">Euro &nbsp;</span>
                  <input type="text" matInput placeholder="Euro">
              </mat-form-field>
          </div>
      </div>


      <div class="col-md-12 text-center mt-5">
          <span></span>
      </div>
      <div class="col-md-12 text-center mt-5 mb-3">
          <button type="button" mat-raised-button> Send</button>
      </div>
      <mat-divider></mat-divider>
      <div class="col-md-12 text-center mt-5">
          <span></span>
      </div>
      <div class="col-md-12 text-center">
          <span> BCH</span>
      </div>
      <div class="col-md-12 text-center">
          <span>€ </span>
      </div>
  </form>
</div>



<div *ngIf="sendRipple">
  <div class="text-center">
      <img src="../../../../../assets/images/currency-icons/ripple_xrp_coin-512.png" alt="stellar-image" class="otp-img">
  </div>
  <form>
      <mat-form-field class="wd-100 mt-10">
          <input type="text" matInput placeholder="Reciever Address">

      </mat-form-field>
      <div class="row">
          <div class="col-md-6">
              <mat-form-field class="wd-100 mt-10">
                  <input type="text" matInput placeholder="XRP">
                  <span matSuffix class="curren-back">XRP</span>

              </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field class="wd-100 mt-10">
                  <span matPrefix class="eur-back">Euro &nbsp;</span>
                  <input type="text" matInput placeholder="Euro">
              </mat-form-field>
          </div>
      </div>


      <div class="col-md-12 text-center mt-5">
          <span></span>
      </div>
      <div class="col-md-12 text-center mt-5 mb-3">
          <button type="button" mat-raised-button> Send</button>
      </div>
      <mat-divider></mat-divider>
      <div class="col-md-12 text-center mt-5">
          <span></span>
      </div>
      <div class="col-md-12 text-center">
          <span> XRP</span>
      </div>
      <div class="col-md-12 text-center">
          <span>€ </span>
      </div>
  </form>
</div>



<div *ngIf="sendStellar">
  <div class="text-center">
      <img src="../../../../../assets/images/currency-icons/stellar_xlm-512.png" alt="stellar-image" class="otp-img">
  </div>
  <form>
      <mat-form-field class="wd-100 mt-10">
          <input type="text" matInput placeholder="Reciever Address">

      </mat-form-field>
      <div class="row">
          <div class="col-md-6">
              <mat-form-field class="wd-100 mt-10">
                  <input type="text" matInput placeholder="XLM">
                  <span matSuffix class="curren-back">XLM</span>

              </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field class="wd-100 mt-10">
                  <span matPrefix class="eur-back">Euro &nbsp;</span>
                  <input type="text" matInput placeholder="Euro">
              </mat-form-field>
          </div>
      </div>


      <div class="col-md-12 text-center mt-5">
          <span></span>
      </div>
      <div class="col-md-12 text-center mt-5 mb-3">
          <button type="button" mat-raised-button> Send</button>
      </div>
      <mat-divider></mat-divider>
      <div class="col-md-12 text-center mt-5">
          <span></span>
      </div>
      <div class="col-md-12 text-center">
          <span> XLM</span>
      </div>
      <div class="col-md-12 text-center">
          <span>€ </span>
      </div>
  </form>
</div>

    </div>

</div>