div#richtexteditor_634684433_0_rte-edit-view {
    min-height: 350px;
}

div#richtexteditor_634684433_1_rte-edit-view {
    min-height: 350px;
}

div#richtexteditor_634684433_0_toolbar_wrapper {
    height: auto !important;
}

div#richtexteditor_634684433_1_toolbar_wrapper {
    height: auto !important;
}