::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    opacity: 1;
    background: linear-gradient(180deg, rgba(5, 110, 160, 1) 0%, rgba(1, 163, 226, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#056ea0', endColorstr='#01a3e2', GradientType=0);
    color: #fff !important;
}

.currency-card {
    opacity: 1;
    background: linear-gradient(180deg, rgba(5, 110, 160, 1) 0%, rgba(1, 163, 226, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#056ea0', endColorstr='#01a3e2', GradientType=0);
    color: #fff !important;
}

.mat-tab-nav-bar {
    white-space: nowrap;
    overflow: auto;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #2fa00a !important;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(46, 169, 6, 0.54) !important;
}

.disable:hover {
    cursor: not-allowed;
}

.disable:active {
    pointer-events: none;
}